body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
header{
    width: 100%;
    height: 60px;
}
header nav{
    display:flex;
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}
nav .nav-right-section a{
    margin-right: 20px;
    color: #000000 ;
}
nav .nav-right-section .menu-icon{
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img{
    border-radius: 50px;
    margin-left: 10px;
}

main{
    margin-top: 110px;
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 25px;
}

main .main-logo img{
    width: 270px;
}

main .main-input{
    width: 580px;
    margin: 0 auto;
    margin-bottom: 25px;
}
main .main-input-container{
    height: 45px;
    border-radius: 100px;
    border: 1px solid #ebecef;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0;
}
main .main-input input{
    width: 480px;
    height: 38px;
    border:none;
    outline: none;
    margin-left: 10px;
    font-size: 17px; 
    color: rgb(87, 85, 85);
    
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon{
    background-image: url("https://www.legislaturaneuquen.gob.ar/imagenes/lupa.png");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

main .main-input .micro-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

main .main-buttons{
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div{
    display: inline-block;
}
main .main-buttons button{
     height: 36px;
     background-color: #f8f9fa;
     border: none;
     font-size: 14px;
     color: #1a1b18;
     border-radius: 5px;
     padding: 0 15px;
     margin-right: 10px;
 }
 main .main-buttons button:hover{
     border: 1px solid #cccaca;  
     box-shadow: 0 1px 1px #c2c2c4 ;
 }
 main .main-Lang{
     margin-top: 32px;
     font-size: 13px;
     cursor:e-resize;
     font-family: Arial, sans-serif ;
 }

 
 main .main-Lang a{
    margin-left: 4px;
    color: #452fc2;
}

 footer {
     width: 100%;
     height: 50px;
     position: absolute;
     bottom:0;
     display: grid;
     grid-template-columns: 2fr 1fr;
     align-items: center;
     font-size: 14px;
     background-color: #f2f2f2;
     border-top: 1px solid #e4e4e4;
 }
footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    
}
footer ul li a{
    margin: 15px;
    color: #787a7c;
}

footer .footer-left{
    justify-self: left;
    margin-left: 20px;
}
footer .footer-right{
    justify-self: right;
    margin-right: 20px;
}
a:hover{
    text-decoration: underline;
 }